.menuContainer {
    background-color: #43606fd1;
    .menuHeaderContainer {
        font-weight: bold;
    }
    .menuBodyContainer {
        display: flex;
        gap: 20px;
        .colorContainer {
            .colorSquare {
                cursor: pointer;
            }
        }
    }
    .footerContainer{
        display: flex;
        align-items: center;
    }
}
