.menuContainer {
    background-color: #43606fd1;
    height: 100%;
    width: 100%;
    .menuHeaderContainer {
        font-weight: bold;
    }
    .menuBodyContainer {
        display: flex;
        gap: 20px;
        .colorContainer {
            .colorSquare {
                cursor: pointer;
            }
        }
        .textArea {
            min-height: 65px;
            max-height: 150px;
        }
    }
    .footerContainer {
        display: flex;
        align-items: center;
    }
}
