.mainContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    .cardRoot {
        z-index: 1;
        width: 100%;
        max-width: 600px;
        background: rgb(0 0 0 / 31%);
        backdrop-filter: blur(8px);
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 128, 128, 0.3);
        padding: 2rem;
        margin: 10% 20% 10% 20%;

        opacity: 0;
        transform: translateY(20px);
        animation: fadeInUp 0.8s ease-out forwards;

        @media (max-width: 768px) {
            margin-left: 5%;
            margin-right: 5%;
        }

        .cardHeader {
            font-size: 1.5rem;
            font-weight: bold;
            color: teal;
            padding-top: 0;
        }

        .cardFooter {
            display: flex;
            justify-content: center;
            padding-bottom: 0;
            .button {
                padding-right: 14px;
                padding-left: 5px;
            }
        }

        p {
            line-height: 1.6;
            color: white;
            margin-bottom: 10px;
        }

        ul {
            li {
                margin: 5px;
            }
        }

        span {
            font-weight: bold;
            color: teal;
            display: block;
        }

        a {
            color: teal;
            text-decoration: none;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

// Définition de l'animation
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
