.root {
    height: 100%;
    .mainContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        height: 100%;
        justify-content: space-around;
        .descriptionContainer {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: self-start;
            h1 {
                z-index: 1;
            }
        }
        .imageContainer {
            .image {
                z-index: 1;
                width: 500px;
            }
        }
    }
}
