.mainContainer {
    padding: 60px 25px 25px 25px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    position: relative;

    .headerContainer {
        position: absolute;
        width: 100%;
        background-color: rgb(255 255 255 / 9%);
        padding: 10px 10px 10px 30px;
        border-radius: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        backdrop-filter: blur(10px);
        color: white;
        font-size: 1.2rem;
        span {
            font-weight: bold;
        }
    }

    .contentContainer {
        background-color: #43606fd1;
        grid-column: 2 / 5;
        .contentContainerHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            span {
                font-weight: bold;
            }
            .deleteAllButton {
                background-color: #ff0000a3;
            }
            .createButton {
                width: 180px;
                border-radius: 20px;
            }
        }
        .contentContainerBody {
            display: flex;
            .tasksContainer {
                display: flex;
                flex-direction: column;
                gap: 10px;
                overflow-y: auto;
                max-height: 500px;
                padding-right: 10px;
                scrollbar-width: thin; /* Pour Firefox */
                scrollbar-color: darkgray transparent; /* Pour Firefox */
            }
        }
    }
}
