.taskContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .contentContainer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .checkLabelContainer {
            display: flex;
            flex-direction: row;
            gap: 10px;
            width: 0;
            flex-grow: 1;
            align-items: center;
            .inputContainer {
                height: 20px;
            }
            .labelContainer {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 2000px; // Ajuste selon ton design
                display: block;
            }
            .checkbox {
                cursor: pointer;
            }
        }
        .iconContainer {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            margin-left: 15px;
        }
    }
}
